body {
  .admin-sidebar {
    box-shadow: 2px 0px 25px 0px;
    color: $gray-600;
    height: 100vh;
    padding: 10px 0;
    width: 280px;
    z-index: 2;

    .nav {
      .navbar {
        padding: 0;
        width: 100%;

        .nav-item {
          border: 1px solid #006a51;
          border-radius: 12px;
          box-shadow: 0px 0px 3px 1px;
          cursor: pointer;
          float: left;
          margin: 5px 15px;
          width: 100%;

          .nav-link {
            border-radius: 10px;
            color: #000000;
            font-size: 16px;
            padding: 5px 15px;

            &.active {
              background-color: #0080FF;
              color: #FFFFFF;
              font-weight: bold;
            }
          }

          &:last-child {
            border: none;
            box-shadow: none;
            text-align: center;
            text-decoration: underline;

            &:hover {
              .nav-link {
                color: #0080FF;
              }
            }

            .nav-link {
              font-size: 18px;
            }
          }
        }
      }
    }

    .background {
      position: absolute;
      top: 0px;

      img {
        height: 100vh;
        object-fit: cover;
        opacity: 0.2;
        width: 280px;
      }
    }

    .footer {
      bottom: 20px;
      color: #000000;
      position: absolute;
      width: 280px;
    }
  }

  .admin-dashboard {
    background-image: url('../../img/background.png');
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 35px;
    width: 100%;

    .logo {
      display: none;
    }

    .toggle-menu {
      display: none;
    }

    .title {
      font-size: 1.8em;
    }

    .panel {
      background-color: #FFFFFF;
      border: 1px solid #CCCCCC;
      border-radius: 5px;
      padding: 15px 20px;

      .search-container {
        display: flex;
        justify-content: space-between;

        div {
          display: flex;
          margin-top: 5px;

          i {
            margin-top: 12px;
            margin-left: 10px;
            position: absolute;
          }

          input {
            font-size: 14px;
            padding-left: 30px;
            width: 270px;
          }
        }

        a.btn {
          border-radius: 12px;
          margin-top: 5px;
        }
      }

      .ui.table {
        thead th {
          color: #0080FF;
          font-size: 18px;
          padding: 5px;
        }

        tbody td {
          font-size: 16px;
          padding: 5px;
          vertical-align: middle;

          a {
            color: #0080FF;
            cursor: pointer;
            font-size: 15px;
          }

          span.label {
            border-radius: 15px;
            color: #FFFFFF;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            padding: 5px 15px;
            width: 80px;
          }
        }
      }

      &.container {
        .input-group {
          .input-group-prepend,
          .input-group-append {
            .input-group-text {
              background-color: #FFFFFF;
              border: none;
              border-bottom: 1px solid #ced4da;
              border-radius: 0;
            }
          }
        }

        input {
          border: none;
          border-bottom: 1px solid #ced4da;
          border-radius: 0;

          &.error {
            border-bottom: 1px solid #e3342f;
          }
        }

        .form-group {
          margin-bottom: 20px;

          label {
            font-size: 16px;
            margin-bottom: 0;
          }

          input[type=text] {
            font-size: 16px;
            height: 28px;

            &:disabled {
              background-color: #FFFFFF;
              color: #808080;
            }
          }

          .react-datepicker-wrapper {
            width: 100%;
          }
        }

        .btn {
          font-size: 16px;

          &.btn-primary {
            &:hover {
              background-color: #025EAD;
              border-color: #025EAD;
            }
          }

          &.btn-info {
            background-color: #A32CC4;
            border-color: #A32CC4;
            color: #FFFFFF;

            &:hover {
              background-color: #710193;
              border-color: #710193;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    .show-menu {
      .admin-sidebar {
        background-color: #FFFFFF;
        left: 0;
        position: absolute;
        transition: left 0.8s;
      }
    }
  
    .hide-menu {
      .admin-sidebar {
        background-color: #FFFFFF;
        box-shadow: none;
        left: -280px;
        position: absolute;
        transition: left 0.4s;
      }
    }

    .admin-dashboard {
      background-image: none;
      padding: 10px;

      .logo {
        display: block;
      }

      .toggle-menu {
        background-color: white;
        border-radius: 18px;
        box-shadow: 0px 0px 3px 1px;
        color: black;
        cursor: pointer;
        display: block;
        float: right;
        font-size: 18px;
        padding: 4px 10px;
        width: 36px;
      }

      .title {
        font-size: 1.5em;
      }

      .panel {
        margin-top: 15px;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .admin-dashboard {
      .title {
        font-size: 1.2em;
      }
    }
  }
}